In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
data = pd.read_csv("file1.csv")

In [8]:
data.head()

,Unnamed: 0,rank_2020,rank_2019,University,Country
0,0,1,1,University of Oxford,United Kingdom
1,1,2,5,California Institute of Technology,United States
2,2,3,2,University of Cambridge,United Kingdom
3,3,4,3,Stanford University,United States
4,4,5,4,Massachusetts Institute of Technology,United States

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 5 columns):
Unnamed: 0    202 non-null int64
rank_2020     202 non-null object
rank_2019     202 non-null object
University    202 non-null object
Country       202 non-null object
dtypes: int64(1), object(4)
memory usage: 8.0+ KB

In [10]:
data.describe()

       Unnamed: 0
count  202.000000
mean   100.500000
std     58.456537
min      0.000000
25%     50.250000
50%    100.500000
75%    150.750000
max    201.000000

In [14]:
data.drop(data.columns[0], axis=1,inplace=True)

In [15]:
data.head()

  rank_2020 rank_2019                             University         Country
0         1         1                   University of Oxford  United Kingdom
1         2         5     California Institute of Technology   United States
2         3         2                University of Cambridge  United Kingdom
3         4         3                    Stanford University   United States
4         5         4  Massachusetts Institute of Technology   United States

In [18]:
data['rank_2020'].values

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '=13', '=13', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '=27', '=27', '29', '30', '31', '=32', '=32',
       '34', '35', '=36', '=36', '=38', '=38', '=38', '41', '42', '43',
       '44', '=45', '=45', '47', '=48', '=48', '50', '51', '52', '53',
       '54', '=55', '=55', '=57', '=57', '59', '60', '61', '=62', '=62',
       '64', '65', '66', '=67', '=67', '69', '70', '71', '72', '73', '74',
       '=75', '=75', '77', '78', '79', '=80', '=80', '=80', '=80', '84',
       '85', '86', '87', '88', '89', '90', '=91', '=91', '93', '=94',
       '=94', '=96', '=96', '=96', '=99', '=99', '101', '=102', '=102',
       '104', '=105', '=105', '=107', '=107', '109', '=110', '=110',
       '112', '=113', '=113', '115', '116', '=117', '=117', '119', '=120',
       '=120', '122', '123', '124', '125', '126', '127', '=128', '=128',
       '130', '=131', '=131', '133', '=134', '=134', '=136', '=136',
       '138', '=139', '=139', '=141', '=141', '143', '=144', '=144',
       '=146', '=146', '=146', '=149', '=149', '=149', '=152', '=152',
       '=152', '=155', '=155', '=157', '=157', '=157', '=157', '=157',
       '=157', '163', '164', '165', '=166', '=166', '=168', '=168',
       '=168', '171', '172', '=173', '=173', '=175', '=175', '=175',
       '178', '=179', '=179', '=179', '=179', '183', '=184', '=184',
       '=186', '=186', '188', '=189', '=189', '=189', '192', '193',
       '=194', '=194', '=194', '197', '=198', '=198', '=198', '=198',
       '=198'], dtype=object)

In [27]:
data['rank_2020'].iloc[13].split('=')[1]

'13'

In [37]:
def filter_2020(x):
    if x[0] == '=':
        return int(x.split('=')[1])
    else:
        return int(x)

In [38]:
data['rank_2020']=data['rank_2020'].apply(lambda x :filter_2020(x))

TypeError: 'int' object is not subscriptable

In [39]:
data['rank_2019'].values

array(['1', '5', '2', '3', '4', '7', '6', '8', '10', '9', '=12', '=12',
       '15', '11', '14', '16', '17', '21', '19', '18', '20', '25', '22',
       '31', '23', '28', '24', '26', '27', '29', '30', '=32', '=32', '37',
       '36', '38', '42', '35', '34', '39', '40', '=44', '=44', '47', '48',
       '41', '41', '50', '51', '49', '43', '54', '53', '56', '=59', '57',
       '52', '53', '=59', '=59', '=74', '62', '66', '63', '65', '69',
       '58', '68', '70', '=71', '=96', '77', '=79', '67', '=84', '=74',
       '=79', '81', '=71', '=90', '=84', '=93', '73', '=93', '=90', '76',
       '78', '64', '=82', '=90', '=82', '89', '108', '103', '=99', '=96',
       '=99', '98', '=93', '=87', '=116', '109', '=87', '=159', '=110',
       '86', '107', '101', '104', '102', '130', '=116', '=110', '=110',
       '=123', '=121', '104', '106', '=132', '=135', '170', '118', '=143',
       '=114', '=123', '=110', '=128', '=123', '119', 'NR', '=121', '134',
       '=114', '=146', '=143', '=132', '=156', '166', '=146', '152',
       '=176', '=149', '=135', '=135', '134', '141', '142', '=161',
       '=135', '=153', '131', '=128', '=149', '=161', '=123', '=153',
       '145', '=146', '=123', '173', '189', '151', '=159', '120', '=181',
       '201–250', '=167', '158', '180', '=176', '159', '179', '=184',
       '=163', '=156', '=135', '=153', '=171', '201–250', '=167', '198',
       '201–250', '175', '=181', '=163', '=167', '201–250', 'NR', '=199',
       '=184', '201–250', '=190', '251–300', '=190', '196', '201–250',
       '201–250', '201–250', '=187', '=181', '=176', '165'], dtype=object)

In [89]:
def filter_2019(x):
    if x[0][0] in '0123456789':
        try:
            x[0] = int(x[0])
            return x[0]
        except:
            return int(np.mean([int(i) for i in (data['rank_2019'].iloc[165].split('–'))]))
    elif x[0] = 'NR':
        return x[1]
    else:
        return int(x[0].split('=')[1])

In [93]:
data[['rank_2019','rank_2020']].apply(filter_2019,axis = 1)

AttributeError: ("'Series' object has no attribute 'split'", 'occurred at index 8')

In [92]:
data[data['rank_2019']=='NR']

     rank_2020 rank_2019           University Country
129        130        NR  University of Paris  France
187        188        NR        Télécom Paris  France

In [80]:
int(np.mean([int(i) for i in (data['rank_2019'].iloc[165].split('–'))]))

225

In [83]:
filter_2019(data['rank_2019'].iloc[165])

225

In [88]:
filter_2019(data['rank_2019'].iloc[1])

5